html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
   font-family: 'Righteous', cursive;
}
#fig__Background{
    margin-top: -16%;
    height: 108%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#img__Background{
    object-fit: cover;
    width: 100%;
    height: 115%;
}
#title{
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}
#towersBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    column-gap: 15px;
    margin-top: 50px;
    background-color: #FFA7A7;
    width: 90%;
    height: 40%;
    border-radius: 8px;
    max-width: 600px;
    max-height: 500px;
}
.tower{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/02/14/07/eiffel-tower-306224_960_720.png");
    background-position: center;
    background-size: cover;
    width: 25%;
    height: 180px;
    border-radius: 4px;
    margin-top: 10px;
    max-width: 125px;
}
#towerOne{
    background-image: url("https://cdn.pixabay.com/photo/2014/04/02/14/07/eiffel-tower-306224_960_720.png");
}
#towerTwo{
    background-image:  url("https://cdn.pixabay.com/photo/2016/02/10/12/43/tower-1191628_960_720.png");
}
.disc{
    width: 70px;
    height: 35px;
    background-color: thistle;
    cursor: pointer;
}
#discOne{
    background-color: rgb(173 81 65 / 75%);
    width: 25px;
}
#discTwo{
    background-color: rgb(252 214 196 / 75%);
    width: 40px;
}
#discThree{
    background-color: rgb(65 43 187 / 75%);
    width: 55px;
}
#discFour{
    background-color: rgb(199 45 81 / 75%);
}
#menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    row-gap: 10px;
}
.button{
    padding: 8px;
    background-color: #A72745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid white;
    font-weight: lighter;
    font-family: 'Righteous', cursive;
    cursor: pointer;
}
#counterMovements{
    text-align: center;
    padding: 4px;
    font-size: 22px;
    color: white;
    border-radius: 4px;
    background-color: #3B233C;
    border: 1px solid white;;
}
#menuTop{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media screen and (min-width: 768px) {
    #towersBox{
        height: 400px;
        column-gap: 50px;
    }
    .tower{
        height: 370px;
    }
    .disc{
        height: 50px;
        width: 120px;
    }
    #discOne{
        width: 75px;
    }
    #discTwo{
        width: 90px;
    }
    #discThree{
        width: 105px;
    }
    #title{
        font-size: 46px;
    }
    .button{
        font-size: 30px;
        border: 2px solid white;
    }
    #counterMovements{
        font-size: 30px;
        border: 2px solid white;
    }
}